<div class="row medium-uncollapse large-collapse">
  <div class="large-12 large-centered columns">
    <div class="panel">
      <h1>Goon Fantasy Football</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns ">
    <table summary="EPL Standings">
      <th colspan="2"><%=@standings['leagueCaption']%></th>
      <th>P</th>
      <th>Pts</th>
      <% @standings['standing'].each do |team| %>
          <tr>
            <td><%= team['position']%></td>
            <td><%= team['teamName']%></td>
            <td><%= team['playedGames']%></td>
            <td><%= team['points']%></td>
          </tr>
      <% end %>
    </table>
  </div>

  <aside class="myLeagueTables">
    <!--show users league tables here-->
  </aside>

  <div class="large-6 columns">
    <div class="row">
      <div class="large-10 columns">
        <% @user_leagues.each do |user_league| %>
            <%= link_to user_league.league.name, :action => 'index', :id => user_league.id %>
        <% end %>
        <%= form_for Post.new, url: {:controller => :post, :action => 'create'} do |f| %>
            <%= f.text_area :text, :class => 'expand' %>
            <%= f.hidden_field :league_id, {value: @selected_league} %>
            <%= f.submit %>
        <% end %>
        <% @league_with_posts.each do |league_with_posts|%>
            <div>
                <%= "#{league_with_posts.username}:" %>
                <%= league_with_posts.text %>
            </div>
        <% end %>
      </div>
    </div>
    <hr/>
  </div>

</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>
          © Copyright Mark J. Hender
        </p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
